@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <a class="inactive underlineHover" asp-area="" asp-controller="Auth" asp-action="Login"> Sign In </a>
        <a class="active">Sign Up </a>
        <form asp-controller="Auth" asp-action="Register" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="block">
                <input asp-for="Username" type="text" id="login" class="fadeIn second" name="Username" placeholder="login">
                <span asp-validation-for="Username"></span>
            </div>
            <div class="block">
                <input asp-for="Password" type="text" id="password" class="fadeIn third" name="Password" placeholder="password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="block">
                <input asp-for="ConfirmPassword" type="text" id="password" class="fadeIn third" name="ConfirmPassword" placeholder="Confirm password">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
    </div>
</div>